@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
}

.max-width{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    justify-content: center;
    align-items: center;
    background-color: #35425c;
    padding: 10px;
    padding-right: 6px;
    padding-top: 15px;
    border-radius: 10px;
}

button{
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    background-color: #baecea;
    border: none;
    outline: none;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.9;
    border-radius: 5px;
}
button:hover{
    background-color: #baeceae5;
}

button:active{
    opacity: 0.8;
}

input{
    grid-column: span 4;
    height: 100%;
    background-color: black;
    border: none;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

input:focus{
    outline: none;
}

#AC{
    grid-column: span 2;
}

#equal{
    grid-column: span 2;
}

#DEL{
    background-image: url("https://img.icons8.com/material-rounded/24/000000/clear-symbol.png");
    background-repeat: no-repeat;
    background-position: center;
}
